<div class='container'>
  <h2>Add a comment</h2>
  <%= form_with scope: :comment, url: project_task_comments_path do |form| %>
    <p>
      <%= form.label :commenter %><br>
      <%= form.text_field :commenter %>
    </p>
    <p>
      <%= form.label :body %><br>
      <%= form.text_area :body, class:'description' %>
    </p>
    <p>
      <%= form.submit %>
    </p>
  <% end %>
</div>