<p>
    <strong>Task Name: &nbsp</strong>
    <span class='name incr'><%= task.name%></span>
</p>

<p>
    <strong>Task Duartion: &nbsp</strong>
    <%= task.duration %>
</p>

<p>
    <strong>Task Description: &nbsp</strong>
    <%= task.description %>
</p>    

<p>
    <strong>Created At: &nbsp</strong>
    <%= task.created_at %>
</p>

<div class="actions">
<%= link_to 'Add a comment', new_project_task_comment_path(task.project, task), class:'right-btn' %> <br>
</div>
<div class="comments-container">
    <h3 class="name">Comments</h3>
    <%= render task.comments %> <br>
</div>

<%= link_to 'Delete Task', [task.project, task], method: :delete, data: {confirm: 'Are you sure you want to delete the task'}, class:'back-link' %>
<%= link_to 'Edit Task', edit_project_task_path(task.project, task), class:'back-link' %>

<hr>