<nav class="nav-bar"> 
    <h1 class="project-heading">Task Management System</h1>
</nav>
<div class='container'>
    <h2>Create new task</h2>
    <%= form_with scope: @task, url: project_tasks_path, local: true do |form| %>
        <div class="input-control <%= 'error-input' if @task.errors[:name].any? %>">
            <p>
                <%= form.label :"Task Name" %><br>
                <%= form.text_field :name %>
            </p>
            <% if @task.errors[:name].any? %>
                <div class="error">
                    Task Name <%= @task.errors[:name][0] %>
                </div>
            <% end %>  
        </div>

        <div class="input-control <%= 'error-input' if @task.errors[:duration].any? %>">
            <p>
                <%= form.label :"Task duration" %><br>
                <%= form.text_field :duration %>
            </p>
            <% if @task.errors[:duration].any? %>
                <div class="error">
                    Task Duration <%= @task.errors[:duration][0] %>
                </div>
            <% end %>  
        </div>

        <div class="input-control">
            <p>
                <%= form.label :"Task description" %><br>
                <%= form.text_area :description, class:'description' %>
            </p>
        </div>

        
        <p>
            <%= form.number_field :user_id, id: :task_user_id, value: current_user.id, type: :hidden%>
        </p>

        <p>
            <%= form.submit %>
        </p>
    <% end %>
</div>

 