<nav class="nav-bar"> 
      <h1 class="project-heading">Task Management System</h1>
      <div>
        <% if user_signed_in? %>
          <%= link_to "Profile", edit_user_registration_path, class:'nav-btn' %>
          <%= link_to "Logout", destroy_user_session_path, method: :delete, class:'nav-btn' %>
        <% else %>
          <%= link_to "Login", new_user_session_path, class:'nav-btn' %>
          <%= link_to "Sign up", new_user_registration_path, class:'nav-btn' %>
        <% end %>
      </div>
</nav>
<div class="container">
    <h3>Welcome to the task management system. Here you can create projects and have many tasks within a project. The tasks can be created, updated, deleted and listed.</h3>
    <div class="home-div"><%= link_to 'Projects List', controller: 'projects', class:'home-btn' %></div>
</div

