<nav class="nav-bar"> 
      <h1 class="project-heading">Task Management System</h1>
      <div>
        <%= link_to 'Back to projects page', projects_path , class:'nav-btn'%>
        <% if user_signed_in? %>
            <%= link_to "Profile", edit_user_registration_path, class:'nav-btn' %>
            <%= link_to "Logout", destroy_user_session_path, method: :delete, class:'nav-btn' %>
        <% else %>
            <%= link_to "Login", new_user_session_path, class:'nav-btn' %>
            <%= link_to "Sign up", new_user_registration_path, class:'nav-btn' %>
        <% end %>
      </div>
</nav>



<div class='container'>
    <h2>Create New project</h2>

    <%= render 'form' %>
</div>


